<h2 class="marginleftindent">Sign in</h2>
<p>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="marginleftindent"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div class="marginleftindent"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="marginleftindent"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class="marginleftindent"><%= f.submit "Sign in" %></div>
<% end %>

<p class="marginleftindent"><%= render "devise/shared/links"%>
</p>