<%= render 'common/searchbar' %>


 <% if @location %>


<div id="bodycontent">
<span class="span5">


<p class="directions"><h2>Directions</h2></p>
<p><%= render 'common/directions' %></p>

<br>

<p class="distance"><h2>Distance</h2></p>
<p class="marginleftindent">     <%= render 'common/distance' %> miles</p>

<br>

 <p class="email"><h2>Email me Info</h2></p>
<form action='/send_email' method='post'>
  <div><input type='hidden' name="search" value="<%= params[:search] %>"></div>
  <div class="styleindent"><input type='email' name='to' placeholder='email address'> <%= submit_tag 'Send' , :class => "emailbutton" %></div>
</form>



</span>


<span class=" span5">
<p class="destinationmap"><h2>GA Location</h2></p>
<p class="marginleftindent"><%= render 'common/address' %></p>
<p class="marginleftindent"><%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@location.latitude}%2C#{@location.longitude}&zoom=14&size=400x400&sensor=false", :class => "roundedcorners" %>


<br>
<br>

<p class="origindestinationmap"><h2>Driving Map</h2></p>
<!-- w h
425 350 original -->
<p class="marginleftindent"><iframe class="roundedcorners" height="375" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=<%= params[:search] %>&amp;daddr=<%= @location.address %>&amp;hl=en&amp;z=6&amp;output=embed"></iframe><br /></p>

<br>
<br>
</span>
</div>




<% end %>


