<%= render 'common/searchbar' %>


 <% if @location %>


<div id="bodycontent">
<div id="georesults">


<br>
<p class="directions"><b>Directions</b></p>
<p><%= render 'common/directions' %></p>

<br>

<p class="distance"><b>Distance</b></p>
<p class="marginleftindent">     <%= render 'common/distance' %> miles</p>

<br>



</div>



<div id="geoimages">
<p class="destinationmap">GA Location</p>
<p class="marginleftindent"><%= render 'common/address' %></p>
<p><%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@location.latitude}%2C#{@location.longitude}&zoom=14&size=400x400&sensor=false", :class => "roundedcorners" %>


<br>
<br>

<p class="origindestinationmap">Driving Map</p>
<!-- w h
425 350 original -->
<p><iframe class="roundedcorners" width="435" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=<%= params[:search] %>&amp;daddr=<%= @location.address %>&amp;hl=en&amp;z=6&amp;output=embed"></iframe><br /></p>



</div>
</div>




<% end %>


