<h1 class="marginleftindent">Listing locations</h1>
<%= form_tag locations_path,:method => :get do %>
<p>
  <%= text_field_tag :search, params[:search], :class => "marginleftindent" %>
  <%= submit_tag "Search for Locations", :name => nil %>
</p>
<% end %>

<table class="marginleftindent">
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
  <!--  <th><%= "Distance from #{params[:search]}" %></th>  -->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.address %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
<!--    <td><%= location.distance_to(params[:search]) > 0 ?  location.distance_to(params[:search]) : "0" %></td>


    <td><a href="locations/<%= location.id %>?q=<%= params[:search] %>">Show</a>
</td> -->
    <td> <%= link_to 'Show', location %></td>

    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path , :class => "marginleftindent" %>
<p>